{% case site.color-scheme %}
{% when "", nil, false, 0, empty %}
{% assign ColorScheme = "auto" %}
{% else %}
{% assign ColorScheme = site.color-scheme %}
{% endcase %}

<!DOCTYPE html>
<html lang="{% if site.active_lang == "x-default" %}en{% else %}{{ site.active_lang }}{% endif %}">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="shortcut icon" type="image/png" href='{{ site.url }}/assets/img/favicon.png'>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.lang == "ru" %}
  <meta property="og:image" content="{{ site.url }}/assets/img/{{ site.data['index']['header_logo_lang'] }}.png" />
  {% else %}
  <meta property="og:image" content="{{ site.url }}/assets/img/{{ site.data['index']['header_logo_lang'] }}.png" />
  {% endif %}
  <link href="https://fonts.googleapis.com/css?family=Noto Sans" rel="stylesheet">

  {% seo %}
  <link rel="stylesheet" href='{{site.url}}{{ "/assets/css/colors-ColorScheme.css?v=" | replace: "ColorScheme", ColorScheme |
    append: site.github.build_revision }}'>
  <link rel="stylesheet" href='{{site.url}}{{ "/assets/css/style.css?v=" | append: site.github.build_revision }}'>
</head>

<body>
  <div class="wrapper">

    {% include header.html %}

    <section>

      {{ content }}

    </section>

    {% include footer.html %}

  </div>
  <script src='/assets/js/scale.fix.js'></script>


  {% unless page.lang %}
  <script type="text/javascript">
    // $(document).ready(function () {
    //   var userLang = window.navigator.userLanguage || window.navigator.language;
    //   userLang = userLang.substr(0, 2);
    //   sdfsdf
    //   if (userLang == "ru") {
    //     window.location.href = "{{ site.url }}/ru/"
    //   }
    //   else {
    //     window.location.href = "{{ site.url }}/en/"
    //   }
    // });
  </script>
  {% endunless %}
</body>

</html>